* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}



.top-halaman {
  padding: 210px 0 100px 0;
  background-image: url(head.JPG);
  color: white;
  text-align: center;
  background-size: cover;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-halaman h1 {
  opacity: 0.6;
  font-size: 43px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.top-halaman p {
  opacity: 0.6;
  margin-bottom: 4px;
}




.clear {
  clear: left;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.7);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 130px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.isi-halaman {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color:rgb(245, 245, 239);
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.isi {
  float: left;
  width: 25%;
}

.isi-icon {
  position: relative;
}

.isi-icon p {
  position: absolute;
  top: 70%;
  width: 100%;
  color: white;

}

.text-judul {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 24px;
  color: black;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.isi-detail {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 100px;
  background-color: #006699;
  cursor: pointer;
  box-shadow: 0 7px #e6f7ff;
}

.detail-btn {

  background-color: #f0f0f5;
  cursor: pointer;


}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: white;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(34, 49, 52, 0.9);
  height: 120px;
  width: 100%;
}
